<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Salad - AI Bit Trader</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="#" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1 class="title">AI로 코인 예측</h1>
      <form class="tickerForm form-inline">
        <div class="input-group">
          <input
            name="ticker"
            type="text"
            class="form-control"
            size="50"
            placeholder="원하시는 코인 심블를 입력하세요 ex) KRW-BTC"
            required
          />
          <div class="input-group-btn">
            <button type="submit" class="btn btn-danger">그래프 확인</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container text-center">
      <h2>설명</h2>
      <p class="description text-center">
        1. 코인 심블 입력후 그래프 확인 클릭 -> 현재 시점에서 과거 1380분 데이터
        그래프를 그립니다. <br />
        2. 예측하기 클릭 -> 1380분 데이터를 통해 AI가 미래 15분 데이터를 예측해
        그래프를 그립니다.<br />
        3. 15분간 실제 그래프를 그립니다.
      </p>
    </div>

    <!-- 그래프 자리 -->
    <div class="row">
      <div class="col-md-12 pastChartTemplate"></div>
      <div class="col-md-12 predChartTemplate"></div>
    </div>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
