<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Salad - AI Bit Trader</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Bit Trader</h1>
      <form class="form-inline">
        <div class="input-group">
          <input
            name="buy_price"
            type="text"
            class="form-control"
            size="50"
            placeholder="원하시는 코인 심블를 입력하세요 ex) KRW-BTC"
            required
          />
          <div class="input-group-btn">
            <button type="button" class="btn btn-danger">그래프 확인</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container text-center">
      <h2>사용 방법</h2>
      <p>거래 하고 싶은 코인 코드를 입력 후 버튼을 눌러주세요</p>
    </div>

    <!-- 그래프 자리 -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5 chart"></div>
      <div class="col-sm-5 pred"></div>
      <div class="col-sm-1"></div>
    </div>
  </body>
</html>
